@font-face{
  font-family: 'Gotham';
  src: url('./assets/fonts/Gotham/Gotham-Book.woff2') format('woff2'),
       url('./assets/fonts/Gotham/Gotham-Book.woff') format('woff');
  font-weight: 100;
} 

@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
       url('./assets/fonts/Gotham/Gotham-Medium.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
       url('./assets/fonts/Gotham/Gotham-Bold.woff') format('woff');
  font-weight: 700;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gotham', sans-serif;
}

body {
  color: #111;
}


